<h2>Angular Reactive Forms</h2>
<form [formGroup]="teamForm" >
  Team Name: {{teamForm.controls.name.value}}

  <p>Players:</p>
  <button mat-raised-button color="primary" (click)="addPlayer()">Add Player</button>
  <ul>
    <li *ngFor="let player of players?.controls; let i = index">
      <nba-player [index]="i" [playerForm]="player" (deletePlayer)="deletePlayer($event)"></nba-player>
    </li>
  </ul>

  <div *ngIf="teamForm" >
    <button type="submit" mat-raised-button color="accent" (click)="saveTeam()" [disabled]="teamForm.invalid">Submit</button>
    <pre>Parent Form Status: <span class="status">{{teamForm.status}}</span></pre>
  </div>

</form>

<br />

<hr />
<h2>ngx-sub-form</h2>

<nba-team-container></nba-team-container>

<hr />
<h2>Reusable autocomplete component</h2>
<autocomplete-filter-example></autocomplete-filter-example>

